* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #902b2b;
  text-align: center;
  margin-top: 40px;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}
h1 {
  color: white;
}
/* Inserimento dat */
.wrapper {
  width: 80%;
  margin: 20px auto;
}
#container {
  margin-top: 20px;
  margin-bottom: 30px;
  padding: 20px 0 40px 0;
  background-color: #fffdec
}
.row {
  display: flex;
  justify-content: center;
}
.col {
  padding: 30px;
}

input {
  margin-top: 20px;
  height: 25px;
  width: 140px;
  text-align: center;
  border: 1px solid #902b2b;
  border-radius: 5px;
}
input::placeholder {
  text-align: center;
  font-size: 13px;
}
input:focus,
select:focus,
select:focus::placeholder,
input:focus::placeholder {
  background-color: #902b2b;
  color: white;
}
select {
  margin-top: 20px;
  height: 25px;
  width: 100px;
  border: 1px solid #902b2b;
  border-radius: 5px;
}
button {
  padding: 10px 15px;
  margin: 0 10px;
  border-radius: 8px;
  border: 1px solid #5d5d5d;
  font-weight: 700
}
#genera {
  background-color: #902b2b;
  color: white;
  border: 0;
  transition: 0.3s;
}
#genera:hover {
  opacity: 0.9;
}
#annulla {
  background-color: #c8c8c8;
  color: #902b2b;
  transition: 0.3s;
}
#annulla:hover {
  background-color: #656565;
  color: white;
}


 /* Biglietto generato  */
#biglietto {
  background-color: #fffdec;
  border-radius: 20px;
  margin-top: 20px;
  box-shadow: 4px 4px 5px rgb(0, 0, 0,0.4);
}
.fascia_titolo {
  height: 40px;
  width: 100%;
  background-color: #dbc322;
  text-align: left;
  line-height: 40px;
  border-radius: 20px 20px 0 0;
  padding: 0 0 0 20px;
  font-weight: 700;
  color: #902b2b;
}
.row_biglietto {
  display: flex;
  text-align: left;
  height: 150px;
}
.col_biglietto {
  padding: 20px;
}
.hide {
  opacity: 0;
  transition: 0.2s
}
.show {
  opacity: 1;
  transition: 0.2s
}
.col_biglietto p:first-child {
  font-size: 13px;
}
.col_biglietto p:last-child {
  font-size: 14px;
  font-weight: 800;
  padding-top: 10px;
  text-transform: uppercase;
}
